body {
  margin:0;
  font-family: Arial;
  background:#0b141a;
  color:white;
}

.app {
  display:flex;
  height:100vh;
}

/* SIDEBAR */
.sidebar {
  width:30%;
  background:#111b21;
  padding:15px;
}

.sidebar input, .inputBox input {
  width:100%;
  padding:10px;
  margin:5px 0;
  border:none;
  border-radius:5px;
}

.sidebar button {
  width:100%;
  padding:10px;
  background:#00a884;
  border:none;
  color:white;
  cursor:pointer;
}

/* CHAT */
.chat {
  flex:1;
  display:flex;
  flex-direction:column;
}

#header {
  background:#202c33;
  padding:15px;
}

/* messages */
#messages {
  flex:1;
  overflow-y:auto;
  padding:10px;
  display:flex;
  flex-direction:column;
  gap:8px;
}

.msg {
  padding:10px;
  border-radius:10px;
  max-width:60%;
}

.me {
  background:#005c4b;
  align-self:flex-end;
}

.them {
  background:#202c33;
  align-self:flex-start;
}

/* input */
.inputBox {
  display:flex;
  padding:10px;
  background:#202c33;
}

.inputBox button {
  background:#00a884;
  border:none;
  padding:10px 15px;
  color:white;
  cursor:pointer;
}
